<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
   
{%for massege in messages %}
<p>{{message}}</p>
{%endfor%}
    <h2>table stagiaires</h2>
    <form action="" methode="get">
      {{myFilter1.form}}
      <button type="submit"> Search </button>
    </form>
    <table border="1">
        <tr>
          <th>matricule</th>
          <th>nom </th>
          <th>prenom </th>
          <th>niveau d'etude</th>
          <th>remove</th>
        </tr>
        {% for p in stagiaire %}
        <tr>
         <td>{{p.matricule}}    </td>
         <td>{{p.NomStagiaire}}</td>
         <td>{{p.PrenomStagiaire}}</td>
         <td>{{p.NivEtude}}</td>
         <td> <a href="{% url 'delete_Stagaire' p.matricule %}"  class="btn btn-danger"> delete </a> </td>
        </tr>
        {% endfor %}
      </table>
      <div class="pagination">
        <span class="step-links">
            {% if stagiaire.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ stagiaire.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ stagiaire.number }} of {{ stagiaire.paginator.num_pages }}.
            </span>
    
            {% if stagiaire.has_next %}
                <a href="?page={{ stagiaire.next_page_number }}">next</a>
                <a href="?page={{ stagiaire.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  

      <h2>table Encadrant</h2>
      <form action="" methode="get">
        {{enca.form}}
        <button type="submit"> Search </button>
      </form>
      <table border="1">
          <tr>
            <th>nom et prenom </th>
            <th>remove</th>
          </tr>
          {% for p in encadrant %}
          <tr>
           <td>{{p.NomPrenomEn}}</td>
           <td> <a href="{% url 'delete_encaderant' p.id %}"  class="btn btn-danger"> delete </a> </td>
          </tr>
        {% endfor %}
        </table>
        <div class="pagination">
          <span class="step-links">
              {% if encadrant.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ encadrant.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ encadrant.number }} of {{ encadrant.paginator.num_pages }}.
              </span>
      
              {% if encadrant.has_next %}
                  <a href="?page={{ encadrant.next_page_number }}">next</a>
                  <a href="?page={{ encadrant.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
    

        <h2>table organisme</h2>
        <form action="" methode="get">
          {{variable.form}}
          <button type="submit"> Search </button>
        </form>
        <table border="1">
          <tr>
            <th>nom organisme</th>
            <th>type d'organisme</th>
            <th>remove</th>
          </tr>
          {% for p in organisme %}
          <tr>
           <td>{{p.NomOrganisme}}</td>
           <td>{{p.typeOr}}</td>
           <td> <a href="{% url 'delete_organisme' p.NomOrganisme %}"  class="btn btn-danger"> delete </a> </td>
          </tr>
        {% endfor %}
        </table>
        <div class="pagination">
          <span class="step-links">
              {% if organisme.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ organisme.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ organisme.number }} of {{ organisme.paginator.num_pages }}.
              </span>
      
              {% if organisme.has_next %}
                  <a href="?page={{ organisme.next_page_number }}">next</a>
                  <a href="?page={{ organisme.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
    
        <h2> table stage </h2>
        <form action="" methode="get">
          {{sta.form}}
          <button type="submit"> Search </button>
        </form>
        <table border="1">
          <tr>
            <th>nom de stage </th>
            <th>nom de lorganizme </th>
            <th>remove</th>
          </tr>
          {% for p in stage %}
            <tr>
              <td> {{p.NomStage}}</td>
              <td> {{p.Organisme.NomOrganisme}}</td>   
              <td> <a href="{% url 'delete_stage' p.id %}"  class="btn btn-danger"> delete </a> </td>
       
             </tr>
         {% endfor %}
        </table>
        <div class="pagination">
          <span class="step-links">
              {% if stage.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ stage.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ stage.number }} of {{ stage.paginator.num_pages }}.
              </span>
      
              {% if stage.has_next %}
                  <a href="?page={{ stage.next_page_number }}">next</a>
                  <a href="?page={{ stage.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
        
        <h2> table promoteur </h2>
        <form action="" methode="get">
          {{pro.form}}
          <button type="submit"> Search </button>
        </form>
        <table border="1">
          <tr>
            <th>nom de promoteur </th>
            <th>nom de organisme </th>
            <th>remove</th>
          </tr>
          {% for p in promoteur %}
            <tr>
              <td> {{p.NomPrenomPro}}</td>
              <td> {{p.Organisme.NomOrganisme}}</td>   
              <td> <a href="{% url 'delete_promoteur' p.id %}"  class="btn btn-danger"> delete </a> </td>
        
             </tr>
         {% endfor %}
        </table>
        <div class="pagination">
          <span class="step-links">
              {% if promoteur.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ promoteur.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ promoteur.number }} of {{ promoteur.paginator.num_pages }}.
              </span>
      
              {% if promoteur.has_next %}
                  <a href="?page={{ promoteur.next_page_number }}">next</a>
                  <a href="?page={{ promoteur.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
</body>
</html>