<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
   
<select name="selectionDeTable" id="table">
    <option value="stagiaires">table stagiaires</option>
    <option value="encadrants">table encadrants</option>
    <option value="organismes">table organismes </option>
 </select> 
{%for massege in messages %}
<p>{{message}}</p>
{%endfor%}
    <h2>table stagiaires</h2>
    
    <table border="1">
        <tr>
          <th>matricule</th>
          <th>nom </th>
          <th>prenom </th>
          <th>niveau d'etude</th>
          <th>remove</th>
        </tr>
        {% for p in stagiaire %}
        <tr>
         <td>{{p.matricule}}    </td>
         <td>{{p.NomStagiaire}}</td>
         <td>{{p.PrenomStagiaire}}</td>
         <td>{{p.NivEtude}}</td>
         <td> <a href="{% url 'delete_Stagaire' p.matricule %}"  class="btn btn-danger"> delete </a> </td>
        </tr>
        {% endfor %}
      </table>


      <h2>table Encadrant</h2>
      <table border="1">
          <tr>
            <th>nom et prenom </th>
            <th>remove</th>
          </tr>
          {% for p in encadrant %}
          <tr>
           <td>{{p.NomPrenomEn}}</td>
           <td> <a href="{% url 'delete_encaderant' p.id %}"  class="btn btn-danger"> delete </a> </td>
          </tr>
        {% endfor %}
        </table>

        <h2>table organisme</h2>
        <table border="1">
          <tr>
            <th>nom organisme</th>
            <th>type d'organisme</th>
            <th>remove</th>
          </tr>
          {% for p in organisme %}
          <tr>
           <td>{{p.NomOrganisme}}</td>
           <td>{{p.typeOr}}</td>
           <td> <a href="{% url 'delete_organisme' p.NomOrganisme %}"  class="btn btn-danger"> delete </a> </td>
          </tr>
        {% endfor %}
        </table>

        <h2> table stage </h2>
        <table border="1">
          <tr>
            <th>nom de stage </th>
            <th>nom de lorganizme </th>
            <th>remove</th>
          </tr>
          {% for p in stage %}
            <tr>
              <td> {{p.NomStage}}</td>
              <td> {{p.Organisme.NomOrganisme}}</td>   
              <td> <a href="{% url 'delete_stage' p.id %}"  class="btn btn-danger"> delete </a> </td>
       
             </tr>
         {% endfor %}
        </table>
        
        <h2> table promoteur </h2>
        <table border="1">
          <tr>
            <th>nom de promoteur </th>
            <th>nom de organisme </th>
            <th>remove</th>
          </tr>
          {% for p in promoteur %}
            <tr>
              <td> {{p.NomPrenomPro}}</td>
              <td> {{p.Organisme.NomOrganisme}}</td>   
              <td> <a href="{% url 'delete_promoteur' p.id %}"  class="btn btn-danger"> delete </a> </td>
        
             </tr>
         {% endfor %}
        </table>
</body>
</html>